@model BrotherGara.Models.TIEPNHAN

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>TIEPNHAN</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.BienSo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BienSo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TenChuXe)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenChuXe)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DiaChi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DiaChi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DienThoai)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DienThoai)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NgayTiepNhan)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NgayTiepNhan)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TienNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TienNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HIEUXE.TenHieuXe)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HIEUXE.TenHieuXe)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
