@model BrotherGara.Models.TIEPNHAN

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>TIEPNHAN</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.BienSo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BienSo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TenChuXe)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenChuXe)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DiaChi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DiaChi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DienThoai)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DienThoai)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NgayTiepNhan)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NgayTiepNhan)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TienNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TienNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HIEUXE.TenHieuXe)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HIEUXE.TenHieuXe)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MaTiepNhan }) |
    @Html.ActionLink("Back to List", "Index")
</p>
