@model IEnumerable<BrotherGara.Models.TIEPNHAN>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.BienSo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TenChuXe)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DiaChi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DienThoai)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NgayTiepNhan)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TienNo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HIEUXE.TenHieuXe)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.BienSo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TenChuXe)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DiaChi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DienThoai)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NgayTiepNhan)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TienNo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HIEUXE.TenHieuXe)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.MaTiepNhan }) |
            @Html.ActionLink("Details", "Details", new { id=item.MaTiepNhan }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.MaTiepNhan })
        </td>
    </tr>
}

</table>
