@model BrotherGara.Models.TIENCONG

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal w-50 m-auto">
        <h3 style="text-align: center">Thêm loại tiền công</h3>
        <hr />
        @if (ViewBag.loi)
        {
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                <strong>Lỗi!</strong> Số loại tiền công đã đạt tối đa
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="form-group col-md-12" style="display: flex; flex-direction: row; justify-content: center">
                <div style="display: inline">
                    @Html.ActionLink("Quay lại", "Index", null, new { @class = "btn btn-success m-2 brighter", @style = "width: 150px; color:azure; background-color: #ed4747" })
                </div>
            </div>
        }
        else
        {
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                <div class="control-label col-md-10">
                    Mã tiền công
                </div>
                <div class="col-md-12">
                    @Html.EditorFor(model => model.MaTienCong, new { htmlAttributes = new { @class = "form-control", @readonly = true } })
                    @Html.ValidationMessageFor(model => model.MaTienCong, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="control-label col-md-10">
                    Tên tiền công
                </div>
                <div class="col-md-12">
                    @Html.EditorFor(model => model.TenTienCong, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.TenTienCong, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="control-label col-md-10">
                    Đơn giá
                </div>
                <div class="col-md-12">
                    @Html.EditorFor(model => model.TienCong1, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.TienCong1, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group col-md-12" style="display: flex; flex-direction: row; justify-content: center">
                <div style="display: inline">
                    <input type="submit" value="Tạo" class="btn btn-success m-2 brighter" style="width: 150px; color:azure; background-color: #61a0ed" />

                </div>
                <div style="display: inline">
                    @Html.ActionLink("Hủy", "Index", null, new { @class = "btn btn-success m-2 brighter", @style = "width: 150px; color:azure; background-color: #61a0ed" })
                </div>
            </div>
        }
    </div>
}



@*@model BrotherGara.Models.TIENCONG

    @{
        ViewBag.Title = "Create";
        Layout = "~/Views/Shared/_Layout.cshtml";
    }

    <h2>Create</h2>


    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <h4>TIENCONG</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(model => model.MaTienCong, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.MaTienCong, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.MaTienCong, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.TenTienCong, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.TenTienCong, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.TenTienCong, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.TienCong1, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.TienCong1, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.TienCong1, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Create" class="btn btn-default" />
                </div>
            </div>
        </div>
    }

    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }*@