@model BrotherGara.Models.BAOCAOTON

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>BAOCAOTON</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TonDau)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TonDau)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PhatSinhNhap)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhatSinhXuat)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TonCuoi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TonCuoi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VATTU.TenVatTu)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VATTU.TenVatTu)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
