@model IEnumerable<BrotherGara.Models.VATTU>

@{
    ViewBag.Title = "Vật tư";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<button class="btn btn-success ml-4 mb-3 brighter" style="width: 200px; color:azure; background-color: #61a0ed">
    <i class="fas fa-plus" style="color: azure">
        @Html.ActionLink("Thêm loại vật tư", "Create", null, new { @style = "color: #ffffff; font-family: Nunito;" })
    </i>
</button>

<div id="content">
    <div class="container-fluid">

        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h3 class="m-0 font-weight-bold text-primary">Danh sách vật tư</h3>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>
                                    Mã vật tư
                                </th>
                                <th>
                                    Tên vật tư
                                </th>
                                <th>
                                    Số lượng
                                </th>
                                <th>
                                    Đơn giá
                                </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.MaVatTu)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.TenVatTu)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.SoLuong)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.DonGia)
                                    </td>
                                    <td>
                                        @Html.ActionLink("Sửa", "Edit", new { id = item.MaVatTu }, new { @class = "btn btn-success" })
                                        @Html.ActionLink("Chi tiết", "Details", new { id = item.MaVatTu }, new { @class = "btn btn-info" })
                                        @Html.ActionLink("Xóa", "Delete", new { id = item.MaVatTu }, new { @class = "btn btn-danger" })
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>