@model BrotherGara.Models.NOIDUNGDOANHSO

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>NOIDUNGDOANHSO</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.MaPDS)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaPDS)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MaHieuXe)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaHieuXe)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HIEUXE.TenHieuXe)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HIEUXE.TenHieuXe)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SoLuotSua)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SoLuotSua)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ThanhTien)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ThanhTien)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TiLe)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TiLe)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
