@model IEnumerable<BrotherGara.Models.PHIEUSUACHUA>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Mã phiếu sửa chữa
        </th>
        <th>
            Mã tiếp nhận
        </th>
        <th>
            Ngày sửa chữa
        </th>
        <th>
            Tổng tiền
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MaPSC)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaTiepNhan)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NgaySuaChua)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TongTien)
            </td>
            <td>
                @Html.ActionLink("Chi tiet vat tu", "Index", "CT_VATTU", new { id = item.MaPSC }, new { @class = "btn btn-info" })
                @Html.ActionLink("Chi tiet tien cong", "Index", "CT_TIENCONG", new { id = item.MaPSC }, new { @class = "btn btn-info" })
                @Html.ActionLink("Delete", "Delete", new { id = item.MaTiepNhan })
            </td>
        </tr>
    }

</table>
