@model IEnumerable<BrotherGara.Models.PHIEUTHUTIEN>

@{
    ViewBag.Title = "Phiếu Thu Tiền";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="content">
    <div class="container-fluid">
        <h2 >Phiếu thu tiền</h2>

        <p>
            @Html.ActionLink("Thêm Phiếu thu", "Create", null, new { @class = "btn btn-success" })
        </p>
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Danh sách phiểu thu tiền</h6>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>
                                    Mã phiếu thu
                                </th>
                                <th>
                                    Mã sửa chửa
                                </th>
                                <th>
                                    Ngày thu tiền
                                </th>
                                <th>
                                    Số tiền thu
                                </th>
                            </tr>   
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.MaPTT)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.MaPSC)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.NgayThuTien)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.SoTienThu)
                                    </td>
                                    @*<td>
                                        @Html.ActionLink("Edit", "Edit", new { id = item.MaPTT }) |
                                        @Html.ActionLink("Delete", "Delete", new { id = item.MaPTT })
                                    </td>*@
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>
    <!-- /.container-fluid -->

</div>
