@model BrotherGara.Models.TIEPNHAN

@{
    ViewBag.Title = "Chi tiết phiếu tiếp nhận";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    th, tr {
        padding: 5px 0px;
    }
</style>

<div class="container-fluid d-flex align-items-center justify-content-center">
    <div style="width: 500px">
        <h1 class="font-weight-bold">Chi tiết phiếu tiếp nhận</h1>
        <table style="font-size: 20px" cellpatding="50px">
            <tr>
                <th>
                    Mã tiếp nhận:
                </th>
                <td>
                    @Html.DisplayFor(model => model.MaTiepNhan)
                </td>
            </tr>
            <tr>
                <th>
                    Biển số:
                </th>
                <td>
                    @Html.DisplayFor(model => model.BienSo)
                </td>
            </tr>
            <tr>
                <th>
                    Tên chủ xe:
                </th>
                <td>
                    @Html.DisplayFor(model => model.TenChuXe)
                </td>
            </tr>
            <tr>
                <th>
                    Tên hiệu xe:
                </th>
                <td>
                    @Html.DisplayFor(model => model.HIEUXE.TenHieuXe)
                </td>
            </tr>
            <tr>
                <th>
                    Địa chỉ:
                </th>
                <td>
                    @Html.DisplayFor(model => model.DiaChi)
                </td>
            </tr>
            <tr>
                <th>
                    Điện thoại:
                </th>
                <td>
                    @Html.DisplayFor(model => model.DienThoai)
                </td>
            </tr>
            <tr>
                <th>
                    Ngày tiếp nhận:
                </th>
                <td>
                    @Html.DisplayFor(model => model.NgayTiepNhan)
                </td>
            </tr>
            <tr>
                <th>
                    Email:
                </th>
                <td>
                    @Html.DisplayFor(model => model.Email)
                </td>
            </tr>
            <tr>
                <th>
                    Tiền nợ:
                </th>
                <td>
                    @Html.DisplayFor(model => model.TienNo)
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <div>
                        @Html.ActionLink("Quay lại", "Index", null, new { @class = "btn btn-success d-block m-auto", @style = "width: 100px" })
                    </div>
                </td>
            </tr>
        </table>
    </div>
</div>
