@model IEnumerable<BrotherGara.Models.TIEPNHAN>

@{
    ViewBag.Title = "Phiếu tiếp nhận";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="content">
    <div class="container-fluid">
        <h2>Phiếu tiếp nhận</h2>

        <p>
            @Html.ActionLink("Thêm Phiếu tiếp nhận", "Create", null, new { @class = "btn btn-success" })
        </p>
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Danh sách Phiếu tiếp nhận</h6>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>
                                    Mã phiếu tiếp nhận
                                </th>
                                <th>
                                    Biển số
                                </th>
                                <th>
                                    Tên chủ xe
                                </th>
                                <th>
                                    Tên hiệu xe
                                </th>
                                <th>
                                    Ngày tiếp nhận
                                </th>
                                <th>
                                    Tiền nợ
                                </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.MaTiepNhan)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.BienSo)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.TenChuXe)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.HIEUXE.TenHieuXe)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.NgayTiepNhan)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.TienNo)
                                    </td>
                                    <td>
                                        @Html.ActionLink("Thêm phiếu sửa chữa", "CreateWithId", "PHIEUSUACHUAs", new { @id = item.MaTiepNhan }, new { @class = "btn btn-primary" })
                                        @Html.ActionLink("Chi tiết", "Details", new { id = item.MaTiepNhan }, new { @class = "btn btn-info" })
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
