@model IEnumerable<BrotherGara.Models.HIEUXE>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<h2>Index</h2>

    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                Mã hiệu xe
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TenHieuXe)
            </th>
            <th></th>
        </tr>

    @foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.MaHieuXe)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TenHieuXe)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.MaHieuXe }) |
            @Html.ActionLink("Details", "Details", new { id = item.MaHieuXe }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.MaHieuXe })
        </td>
    </tr>
    }

    </table>*@

<button class="btn btn-success ml-4 mb-3 brighter" style="width: 200px; color:azure; background-color: #61a0ed">
    <i class="fas fa-plus" style="color: azure">
        @Html.ActionLink("Thêm hiệu xe", "Create", null, new { @style = "color: #ffffff; font-family: Nunito;" })
    </i>
</button>

<div id="content">
    <div class="container-fluid">


        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h3 class="m-0 font-weight-bold text-primary">Danh sách hiệu xe</h3>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>Mã hiệu xe</th>
                                <th>
                                    Tên hiệu xe
                                </th>
                                <th style="width: auto"></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.MaHieuXe)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.TenHieuXe)
                                    </td>
                                    <td>
                                        @Html.ActionLink("Sửa", "Edit", new { id = item.MaHieuXe }, new { @class = "btn btn-success" })
                                        @Html.ActionLink("Chi tiết", "Details", new { id = item.MaHieuXe }, new { @class = "btn btn-info" })
                                        @Html.ActionLink("Xóa", "Delete", new { id = item.MaHieuXe }, new { @class = "btn btn-danger" })
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>